.headbar {
  float: right;
}

.dropdown-menu {
    min-width: 0px !important;
}

h1, h3 {
  color : #0E4C92;
}

.invalidUser {
  color: #d9534f;
}

.validUser {
  color: #5cb85c;
}

.edit, .reply {
  color: #666666;
}

.repliableComment {
    border: 1px solid gray;
    margin-bottom: 25px;
    padding: 5px;
    width: 100%;
    height: 150px;
    overflow: scroll;
}
